html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Malgun Gothic';
}

body {
  -webkit-text-size-adjust: none;
  font-size: 16px;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

input:focus, select:focus, option:focus, textarea:focus, button:focus {
  outline: none;
}

@font-face {
  font-family: 'Malgun Gothic';
  font-weight: 300;
  font-style: normal;
  src: url(../font/malgun.ttf) format("truetype"), url(../font/malgun.woff) format("woff");
}

@font-face {
  font-family: 'Malgun Gothic';
  font-weight: 700;
  font-style: normal;
  src: url(../font/malgunbd.ttf) format("truetype"), url(../font/malgunbd.woff) format("woff");
}

.login-bg {
  background-color: #ebf0f0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-banner {
  background-color: #ffffff;
  border-radius: 0.1875rem;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.box-banner.fixed-box {
  height: 550px;
}

.ico-id {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_id.png);
  width: 0.625rem;
  height: 0.875rem;
}

.ico-pw {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_pw.png);
  width: 0.625rem;
  height: 0.875rem;
}

.ico-kor {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_kor.png);
  width: 1.8125rem;
  height: 1.375rem;
}

.ico-eng {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_usa.png);
  width: 1.8125rem;
  height: 1.375rem;
}

.ico-phone {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_phone.png);
  width: 0.8125rem;
  height: 0.8125rem;
}

.ico-email {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_email.png);
  width: 0.8125rem;
  height: 0.625rem;
}

.ico-close {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_close.png);
  width: 0.9375rem;
  height: 0.9375rem;
}

.ico-check-mark {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico-check-mark.png);
  width: 1rem;
  height: 1rem;
}

.ico-star {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_star.png);
  width: 1rem;
  height: 1rem;
}

.ico-profile {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_profile.png);
  width: 1.25rem;
  height: 1.25rem;
}

.ico-setting {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_setting.png);
  width: 1rem;
  height: 1rem;
}

.ico-alert {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_alert.png);
  width: 0.875rem;
  height: 1.125rem;
}

.ico-all-menu {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ico_all_menu.png);
  width: 1rem;
  height: 1rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 1.9375rem;
  padding: 0 0.5625rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0.0625rem solid #c1c1c1;
  font-size: 0.9375rem;
  color: #333333;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #adadad;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #adadad;
}

input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #adadad;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  font-size: 0.875rem;
  color: #adadad;
}

.input-has-ico {
  position: relative;
}

.input-has-ico i {
  position: absolute;
  top: 50%;
  left: 1.0625rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 1.625rem;
  font-size: 0.8125rem;
  line-height: 1.4375rem;
  cursor: pointer;
  color: #333333;
}

input[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.3125rem;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/ico_checkbox.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="checkbox"]:checked + label:after {
  background-image: url(../images/ico_checkbox_on.png);
}

input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input[type="radio"] + label {
  position: relative;
  display: inline-block;
  padding-left: 1.8125rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #666666;
}

input[type="radio"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1.0625rem;
  height: 1.0625rem;
  background-image: url(../images/radio-off.png);
}

input[type="radio"]:checked + label:after {
  background-image: url(../images/radio-on.png);
}

.input-list ul li {
  padding-bottom: 0.8125rem;
}

.input-list ul li:last-child {
  padding-bottom: 1rem;
}

.input-list.has-label ul li {
  padding-bottom: 1.5rem;
}

.input-list.has-label ul li label {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 0.5625rem;
}

.input-list.has-label ul li:last-child {
  padding-bottom: 0;
}

.btn.login-btn {
  height: 3.375rem;
  line-height: 3.375rem;
  padding: 0;
  font-weight: 700;
  color: #ffffff;
  background-color: #596175;
}

.btn.gray-btn {
  border: 0.0625rem solid #949494;
}

.btn.blue-btn {
  color: #ffffff;
  background-color: #596175;
  border: 1px solid #747d8b;
}

.btn.none-radius {
  border-radius: 0;
}

.btn.disable-btn {
  color: rgba(255, 255, 255, 0.5);
}

.btn.btn-dark-blue {
  background-color: #334956;
  color: #ffffff;
}

.btn.btn-border {
  border: 1px solid #9facac;
}

.btn.fixed-sm-btn {
  font-size: 0.75rem;
  line-height: 1.3125rem;
  padding: 0.25rem 0.6875rem;
}

.warnning {
  position: relative;
  padding-left: 1.6875rem;
  color: #f92465;
  text-align: left;
  font-size: 0.75rem;
  line-height: 1.375rem;
}

.warnning:after {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  background-image: url(../images/ico_info_circle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
}

.error {
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: #f92465;
  margin-top: -0.125rem;
}

.row-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-list li {
  position: relative;
  padding: 0 0.625rem;
}

.row-list li:nth-child(1) {
  padding-left: 0;
}

.row-list li:last-child {
  padding-right: 0;
}

.row-list li:last-child:after {
  display: none;
}

.row-list li:after {
  content: '';
  width: 0.0625rem;
  height: 1rem;
  background-color: #8a93a8;
  position: absolute;
  right: 0;
  bottom: 0.0625rem;
}

.row-list.short-after:after {
  height: 0.75rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.6875rem;
  line-height: 1.375rem;
  color: #aaaaaa;
  z-index: 1;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .footer {
    position: relative;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
}

.tag {
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
  border-radius: 100%;
}

.tag.black-type {
  background-color: #333333;
  color: #ffffff;
}

.tag.pupple-type {
  background-color: #424c63;
  color: #ffffff;
}

.tag.gray-type {
  background-color: #666666;
  color: #ffffff;
}

.table.custom-table {
  margin-bottom: 0;
}

.table.custom-table tr th, .table.custom-table tr td {
  vertical-align: middle;
  border-top: 0.0625rem solid #e1e1e1;
}

.table.custom-table tr td {
  padding: 0.8125rem 1.25rem;
}

.table.custom-table tr th {
  border-right: 0.0625rem solid #e1e1e1;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
  text-align: center;
}

.table.custom-table tr:last-child td, .table.custom-table tr:last-child th {
  border-bottom: 0.0625rem solid #e1e1e1;
}

.radio-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.radio-list ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

@media screen and (max-width: 720px) {
  .radio-list ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .radio-list ul li {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.input-has-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-has-btn input {
  width: calc(100% -137px);
  margin: auto;
}

.input-has-btn .btn {
  margin-left: 1.125rem;
}

@media screen and (max-width: 720px) {
  .input-has-btn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .input-has-btn input {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.required {
  position: relative;
  display: inline-block;
}

.required:after {
  content: '*';
  color: #f92465;
  position: absolute;
  left: -0.625rem;
  top: 0;
}

.time {
  position: relative;
}

.time .timer {
  color: #f92465;
  position: absolute;
  right: 0.6875rem;
  top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.375rem;
}

.text-banner {
  text-align: center;
  background-color: #f7fafa;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
  padding: 2.0625rem 0;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  color: #333333;
}

.text-banner.sucess {
  margin-top: 6.875rem;
  margin-bottom: 3.3125rem;
}

.modal-wrap {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2000;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-wrap.none-dim {
  background-color: transparent;
}

.modal-wrap.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-wrap.is-visible .modal {
  display: block;
}

.modal-wrap .custom-modal {
  position: absolute;
  left: 50%;
  top: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40rem;
  background-color: #ffffff;
}

.modal-wrap .custom-modal .wrapper {
  padding: 0 1.4375rem;
}

.modal-wrap .custom-modal .modal-title {
  font-size: 0.9375rem;
  color: #293846;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-wrap .custom-modal .modal-title .prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-wrap .custom-modal .modal-title .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-wrap .custom-modal .modal-content {
  padding: 1.0625rem 1.4375rem 1.875rem 1.4375rem;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: -0.2px;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  border: 1px solid transparent;
}

.modal-wrap .custom-modal .modal-header {
  border-bottom: 0.0625rem solid #d5e1e1;
  min-height: auto;
  padding: 0;
  padding-top: 0.9375rem;
  padding-bottom: 0.8125rem;
}

.modal-wrap .custom-modal .modal-footer {
  border: 1px solid transparent;
  padding: 0 1.4375rem 1.3125rem 1.4375rem;
}

.modal-wrap .custom-modal .modal-footer .btn + .btn {
  margin-left: 0.5rem;
}

.modal-wrap .custom-modal .box-banner {
  -webkit-box-shadow: 1px 1px 1px 1px transparent;
          box-shadow: 1px 1px 1px 1px transparent;
}

.modal-wrap.connect .custom-modal {
  width: 18.75rem;
  background-color: #ffffff;
  padding: 0;
}

@media screen and (max-width: 720px) {
  .modal-wrap .custom-modal {
    width: 100%;
    padding: 0 0.9375rem;
    background-color: transparent;
  }
}

.login-page {
  width: 100%;
  height: 664px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .forms {
  width: 40rem;
  z-index: 3;
}

.login-page .forms .lg-logo {
  margin-bottom: 1.25rem;
}

.login-page .forms .esp-logo {
  padding-bottom: 2.3125rem;
}

.login-page .forms .esp-logo img {
  width: 100%;
}

.login-page .forms .login-form {
  padding: 3.125rem 10rem;
  text-align: center;
}

.login-page .forms .login-form .btn {
  margin-top: 0.9375rem;
}

.login-page .forms .sub-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.3125rem;
}

.login-page .forms .sub-area .prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.login-page .forms .sub-area .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login-page .forms .sub-area .suffix ul li a {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  color: #333333;
}

.login-page .forms .dropdown .btn {
  width: 10rem;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  font-weight: 700;
  background-image: url(../images/ico_arrow_down.png);
  background-position: 91% 50%;
  background-repeat: no-repeat;
  padding: 0 0.75rem;
  height: 1.875rem;
  text-align: left;
  margin-top: 1.875rem;
}

.login-page .forms .dropdown .btn i {
  margin-right: 0.75rem;
}

.login-page .forms .dropdown .dropdown-menu {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.login-page .forms .dropdown .dropdown-menu li {
  border: 1px solid #949494;
  background-color: #ffffff;
  border-radius: 0.25rem;
}

.login-page .forms .dropdown .dropdown-menu li a {
  font-size: 0.8125rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding: 0 0.75rem;
  text-align: left;
  height: 1.875rem;
}

.login-page .forms .dropdown .dropdown-menu li a i {
  margin-right: 0.75rem;
}

.login-page .forms .dropdown.open .btn {
  background-image: url(../images/ico_arrow_up.png);
}

.login-page .forms .company-info {
  margin-top: 2.25rem;
}

.login-page .forms .company-info ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .forms .company-info ul li {
  font-size: 0.75rem;
  line-height: 1.1875rem;
  color: #747f99;
}

.login-page .forms .company-info ul li a {
  font-size: 0.75rem;
  line-height: 1.1875rem;
  color: #747f99;
}

.login-page .forms .company-info ul:nth-child(2) {
  margin-top: 0.5rem;
}

.login-page .login-form input[type="text"],
.login-page .login-form input[type="password"] {
  width: 100%;
  height: 2.8125rem;
  padding: 0 2.25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0.0625rem solid #8e9ab8;
  font-size: 0.9375rem;
  color: #333333;
}

.login-page .login-form input[type="text"]::-webkit-input-placeholder,
.login-page .login-form input[type="password"]::-webkit-input-placeholder {
  color: #8e9ab8;
}

.login-page .login-form input[type="text"]:-ms-input-placeholder,
.login-page .login-form input[type="password"]:-ms-input-placeholder {
  color: #8e9ab8;
}

.login-page .login-form input[type="text"]::-ms-input-placeholder,
.login-page .login-form input[type="password"]::-ms-input-placeholder {
  color: #8e9ab8;
}

.login-page .login-form input[type="text"]::placeholder,
.login-page .login-form input[type="password"]::placeholder {
  color: #8e9ab8;
}

@media screen and (max-width: 720px) {
  .login-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    height: 100%;
  }
  .login-page .forms {
    width: 100%;
    height: 100%;
    padding: 0 0.9375rem;
  }
  .login-page .forms .login-form {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.popup {
  padding-left: 0;
  padding-right: 0;
}

.popup .popup-header {
  border-bottom: 0.0625rem solid #d5e1e1;
  padding: 0.8125rem 0;
}

.popup .popup-header .wrapper {
  padding: 0 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .popup-header .wrapper .prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.popup .popup-header .wrapper .suffix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.popup .popup-header .wrapper .prefix {
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-weight: 700;
  color: #293846;
}

.popup .popup-content {
  padding: 1.25rem;
  padding-top: 3.125rem;
}

.popup .popup-content .scroll-text-banner {
  height: 28.875rem;
  overflow-y: auto;
  font-size: 0.9375rem;
  text-align: left;
}

.popup .popup-content.auto-scorll {
  height: 31.25rem;
  overflow-y: auto;
}

.popup .popup-footer {
  padding-top: 6.6875rem;
}

.qna-accordion .panel-heading {
  padding: 0.875rem 1.25rem;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 700;
  border: 1px solid transparent;
  border-bottom: 0.0625rem solid #e1e1e1;
}

.qna-accordion .panel-heading a {
  display: block;
}

.qna-accordion .panel-heading .tag {
  margin-right: 0.875rem;
  float: left;
}

.qna-accordion .ask {
  padding: 0.875rem 1.25rem;
  padding-bottom: 0.5rem;
  background-color: #f6f6f6;
  border-top: 0.0625rem solid transparent;
}

.qna-accordion .ask .ask-title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #666666;
  font-weight: 700;
}

.qna-accordion .ask .ask-title .tag {
  margin-right: 0.875rem;
  float: left;
}

.qna-accordion .ask .ask-content {
  padding-left: 3.4375rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #666666;
}

.account .popup-footer {
  text-align: center;
}

.account .popup-footer a {
  width: 9.375rem;
  height: 2.25rem;
}

.account .popup-content {
  padding: 3.125rem 1.25rem;
}

.change-pw .input-list {
  padding: 0 7.8125rem;
  padding-top: 2.75rem;
}

.change-pw .popup-footer {
  text-align: center;
  padding-top: 3.0625rem;
}

.change-pw .popup-footer .btn {
  width: 9.375rem;
  height: 2.25rem;
}

.change-pw .popup-content {
  padding-bottom: 3.125rem;
}

@media screen and (max-width: 720px) {
  .change-pw .input-list {
    padding-left: 0;
    padding-right: 0;
  }
}

.header {
  width: 100%;
  min-width: 90rem;
  background-color: #ffffff;
}

.header .wrapper {
  width: 100%;
  max-width: 90rem;
  margin: auto;
}

.header .logo-wrap {
  width: 100%;
  padding: 0.5rem 0;
}

.header .logo-wrap .logo {
  width: 8.9375rem;
}

.header .logo-wrap .logo img {
  width: 100%;
}

.gnb .gnb-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
  border: 0.0625rem solid #f2f2f2;
}

.gnb .gnb-left .favorites, .gnb .gnb-left .all-menu {
  border-right: 0.0625rem solid #f2f2f2;
  padding: 1rem;
}

.gnb .gnb-left .menu-list {
  padding-left: 1.8125rem;
}

.gnb .gnb-left .menu-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gnb .gnb-left .menu-list ul li a {
  font-size: 0.875rem;
  color: #333333;
  padding: 1rem 0.8125rem;
}

.gnb .gnb-left .menu-list ul li a:hover {
  font-weight: 700;
  border-bottom: 0.1875rem solid #38c9b2;
}

.gnb .gnb-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2%;
          flex: 1 1 2%;
  border: 0.0625rem solid #f2f2f2;
  border-left: 0.0625rem solid transparent;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.gnb .gnb-right li {
  padding: 1rem 0;
}

.gnb .gnb-right li:nth-child(2) {
  padding-left: 1.8125rem;
  padding-right: 1.8125rem;
}

.gnb .gnb-right li:last-child {
  padding-right: 1.4375rem;
}
