.btn{
    &.login-btn{
        height: rem(54);
        line-height: rem(54);
        padding: 0;
        font-weight: 700;
        color: $white;
        background-color: $btn-login;
    }
    &.gray-btn{
        border: rem(1) solid $text-color4;
    }
    &.blue-btn{
        color: $white;
        background-color: $btn-login; 
        border: 1px solid #747d8b;
    }
    &.none-radius{
        border-radius:0 ;
    }
    &.disable-btn{
        color: rgba($color: #ffffff, $alpha: 0.5);
    }
    &.btn-dark-blue{
        background-color: $btn-dark-blue;
        color: $white;
    }
    &.btn-border{
        border: 1px solid #9facac;
    }
    &.fixed-sm-btn{
        font-size: rem(12);
        line-height: rem(21);
        padding: rem(4) rem(11);
    }
}