.change-pw{
  .input-list{
    padding:  0 rem(125);
    padding-top: rem(44);
  }
  .popup-footer{
    text-align: center;
    padding-top: rem(49);
    .btn{
      width: 9.375rem;
      height: 2.25rem;
    }
  }
  .popup-content{
    padding-bottom: rem(50);
  }
}
@media screen and(max-width:720px) {
  .change-pw{
    .input-list{
      padding-left: 0;
      padding-right: 0;
    }
  }
}