.account{
    .popup-footer{
        text-align: center;
        a{
            width: rem(150);
            height: rem(36);
        }
    }
    .popup-content{
        padding: rem(50) rem(20);
    }
}