@font-face {
    font-family:'Malgun Gothic';
    font-weight: 300;
    font-style: normal;
    src: url(../font/malgun.ttf) format('truetype'),
         url(../font/malgun.woff) format('woff');
}
@font-face {
    font-family:'Malgun Gothic';
    font-weight: 700;
    font-style: normal;
    src: url(../font/malgunbd.ttf) format('truetype'),
         url(../font/malgunbd.woff) format('woff');
}
