.footer{
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    font-size:rem(11);
    line-height: rem(22);
    color: $footer;
    z-index: 1;
    text-align: center;
}
@media screen and(max-width:720px) {
    .footer{
        position: relative;
        left:0;
        transform: none;
    }
}
