.gnb{
    .gnb-left{
        display: flex;
        align-items: center;
        flex: 1 1 75%;
        border: rem(1) solid #f2f2f2;
        .favorites,.all-menu{
         border-right: rem(1) solid #f2f2f2;
         padding: rem(16);
        }
        .menu-list{
            padding-left: 1.8125rem;
            ul{
                display: flex;
                li{
                    a{
                        font-size: rem(14);
                        color:$text-color1;
                        padding: rem(16) rem(13);
                        &:hover{
                            font-weight: 700;
                            border-bottom: rem(3) solid #38c9b2;
                        }
                    }
                }
            }
        }
    }
    .gnb-right{
        display: flex; 
        flex: 1 1 2%;
        border: rem(1) solid #f2f2f2;
        border-left: rem(1) solid transparent;
        justify-content: flex-end;
        li{
            padding: rem(16) 0;
            &:nth-child(2){
                padding-left: rem(29);
                padding-right: rem(29);
            }
            &:last-child{
                padding-right: rem(23);
            }
        }
    }
}