.header{
    width: 100%;
    min-width: rem(1440);
    .wrapper{
        width: 100%;
        max-width: rem(1440);
        margin: auto;
    }
    background-color: $white;
    .logo-wrap{
        width: 100%;
        padding: rem(8) 0;
        .logo{
            width: rem(143);
            img{
                width: 100%;
            }
        }
    }
}