.ico-id{
    @include icon-setting;
    background-image:url(../images/ico_id.png);
    width: rem(10);
    height: rem(14);
}
.ico-pw{
    @include icon-setting;
    background-image: url(../images/ico_pw.png);
    width: rem(10);
    height: rem(14);
}
.ico-kor{
    @include icon-setting;
    background-image: url(../images/ico_kor.png);
    width: rem(29);
    height: rem(22);
}
.ico-eng{
    @include icon-setting;
    background-image: url(../images/ico_usa.png);
    width: rem(29);
    height: rem(22);
}
.ico-phone{
    @include icon-setting;
    background-image:url(../images/ico_phone.png) ;
    width: rem(13);
    height: rem(13);
}
.ico-email{
    @include icon-setting;
    background-image: url(../images/ico_email.png);
    width:rem(13);
    height: rem(10);
}
.ico-close{
    @include icon-setting;
    background-image: url(../images/ico_close.png);
    width: rem(15);
    height: rem(15);
}
.ico-check-mark{
    @include icon-setting;
    background-image: url(../images/ico-check-mark.png);
    width: rem(16);
    height: rem(16);
}
.ico-star{
    @include icon-setting;
    background-image: url(../images/ico_star.png);
    width: rem(16);
    height: rem(16);
}
.ico-profile{
    @include icon-setting;
    background-image: url(../images/ico_profile.png);
    width: rem(20);   
    height: rem(20);
}
.ico-setting{
    @include icon-setting;
    background-image: url(../images/ico_setting.png);
    width: rem(16);
    height: rem(16);
}
.ico-alert{
    @include icon-setting;
    background-image: url(../images/ico_alert.png);
    width: rem(14);
    height: rem(18);
}
.ico-all-menu{
    @include icon-setting;
    background-image: url(../images/ico_all_menu.png);
    width: rem(16);
    height: rem(16);
}