.input-list{
    ul{
        li{
            padding-bottom: rem(13);
            &:last-child{
                padding-bottom: rem(16);
            }
        }
    }
    &.has-label{
        ul{
            li{
                padding-bottom: rem(24);
                label{
                    font-size: rem(14);
                    line-height: rem(22);
                    font-weight: 700;
                    color: $text-color1;
                    margin-bottom: rem(9);
                }
                &:last-child{
                    padding-bottom: 0;
                }
            }
        }
    }
}