.input-has-btn{
    display: flex;
    align-items: center;
    input{
        width: calc(100% -137px);
        margin:auto;
    }
    .btn{
        margin-left:rem(18);
    }
}

@media screen and(max-width:720px) {
    .input-has-btn{
        flex-wrap: wrap;
        justify-content: flex-end;
        input{
            width: 100%;
            margin-bottom: rem(8);
        }
    }
}