
input[type="text"],
input[type="password"]{
    width: 100%;
    height:rem(31);
    padding: 0 rem(9);
    appearance: none;
    border: rem(1) solid #c1c1c1;
    font-size: rem(15);
    color: $text-color1;
    &::placeholder{
        font-size: rem(14);
        color: #adadad;
    }
}
.input-has-ico{
    position: relative;
    i{
        position: absolute;
        top: 50%;
        left: rem(17);
        transform: translateY(-50%);
    }
}
input[type="checkbox"]{
    position:absolute; 
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px;
    overflow:hidden; 
    clip:rect(0,0,0,0);
    border:0;
    + label{
        position: relative;
        display: inline-block;
        padding-left: rem(26);
        font-size: rem(13);
        line-height: rem(23);
        cursor: pointer;
        color: $text-color1;
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: rem(5);
            width:rem(16);
            height: rem(16);
            background-image: url(../images/ico_checkbox.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &:checked{
        + label{
            &:after{
                background-image: url(../images/ico_checkbox_on.png);
            }
        }
    }
}

input[type="radio"]{
    position:absolute; 
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px;
    overflow:hidden; 
    clip:rect(0,0,0,0);
    border:0;
    + label{
        position: relative;
        display: inline-block;
        padding-left: rem(29);
        font-size: rem(14);
        line-height: rem(22);
        color: #666666;
        &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: rem(17);
            height: rem(17);
            background-image: url(../images/radio-off.png);
        }
    }
    &:checked{
        + label{
            &:after{
                background-image: url(../images/radio-on.png);
            }
        }
    }
} 