
.login-page{
    width: 100%;
    height: 664px; //ie 크로스브라우징
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .forms{
        width:rem(640);
        z-index: 3;
        .lg-logo{
             margin-bottom: rem(20);
         }
         .esp-logo{
             padding-bottom: rem(37);
             img{
                 width: 100%;
             }
         }
         .login-form{
            padding: rem(50) rem(160);
            text-align: center;
             .btn{
                 margin-top: rem(15);
             }
         }
         .sub-area{
             @include align-prefix-suffix;
             padding-top: rem(5);
             .suffix{
                 ul{
                     li{
                         a{
                             font-size: rem(13);
                             line-height: rem(22);
                             color:$text-color1;
                         }
                     }
                 }
             }
         }
         .dropdown{
            .btn{
               width: rem(160);
               font-size: rem(13);
               line-height: rem(22);
               font-weight: 700;
               background-image: url(../images/ico_arrow_down.png);
               background-position: 91% 50%;
               background-repeat: no-repeat;
               padding: 0 rem(12);
               height: rem(30);
               text-align: left;
               margin-top: rem(30);
               i{
                   margin-right: rem(12);
               }
            }
            .dropdown-menu{
               left: 50%; 
               transform: translateX(-50%);
               margin: 0;
               padding: 0;
               border: 1px solid transparent;
               box-shadow: none;
               background-color: transparent;
               li{
                   border: 1px solid $text-color4;
                   background-color: $white;
                   border-radius: rem(4);
                   a{
                    font-size: rem(13);
                    line-height: rem(28);
                    font-weight: 700;
                    padding: 0 rem(12);
                    text-align: left;
                    height: rem(30);
                    i{
                        margin-right: rem(12);
                    }
                   }
               }
           }
           &.open{
               .btn{
                   background-image: url(../images/ico_arrow_up.png);
               }
           }
        }
        .company-info{
            margin-top: rem(36);
            ul{
                align-items: center;
                justify-content: center;
                li{
                    font-size: rem(12);
                    line-height: rem(19);
                    color: $company-info;
                    a{
                        font-size: rem(12);
                        line-height: rem(19);
                        color: $company-info;
                    }
                }
                &:nth-child(2){
                    margin-top: rem(8);
                }
            }
        }
    }
    .login-form{
        input[type="text"],
        input[type="password"]{
            width: 100%;
            height:rem(45);
            padding: 0 rem(36);
            appearance: none;
            border: rem(1) solid $input-border;
            font-size: rem(15);
            color: $text-color1;
            &::placeholder{
                color: $input-color;
            }
        }
    }
}
@media screen and(max-width:720px) {
    .login-page{
        flex-direction: column;
        padding-top: rem(20);
        padding-bottom: rem(20);
        height: 100%;
        .forms{
            width: 100%;
            height: 100%;
            padding:0 rem(15);
            .login-form{
                padding-left: rem(15);
                padding-right: rem(15);
            }
        }
    }
}