@mixin icon-setting{
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin align-prefix-suffix{
    display: flex;
    align-items: center;
    .prefix{
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-start;
    }
    .suffix{
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }