.modal-wrap {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  &.none-dim{
    background-color: transparent;
  }
  &.is-visible {
    visibility: visible;
    opacity: 1;
    .modal{
      display: block;
    }
  }
  .custom-modal {
    position: absolute;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);
    width: rem(640);
    background-color: $white;
    .wrapper{
      padding:0 rem(23);
    }
    .modal-title{
      font-size: rem(15);
      color: #293846;
      @include align-prefix-suffix;
    }
    .modal-content{
      padding:rem(17) rem(23) rem(30) rem(23);
      font-size: rem(14);
      line-height: rem(21);
      letter-spacing: -0.2px;
      box-shadow: 0 0 0 transparent;
      border: 1px solid transparent;
    }
    .modal-header{
      border-bottom: rem(1) solid #d5e1e1;
      min-height: auto;
      padding: 0;
      padding-top: rem(15);
      padding-bottom: rem(13);
    }
    .modal-footer{
      border: 1px solid transparent;
      padding: 0 rem(23) rem(21) rem(23);
      .btn{
        +.btn{
          margin-left: rem(8);
        }
      }
    }
    .box-banner{
      box-shadow: 1px 1px 1px 1px transparent;
    }
  }
  &.connect{
    .custom-modal{
      width: rem(300);
      background-color: $white;
      padding: 0;
    }
  }
}

@media screen and(max-width:720px) {
  .modal-wrap{
    .custom-modal{
      width: 100%;
      padding: 0 rem(15);
      background-color: transparent;
    }
  }
}