.popup{
    padding-left: 0;
    padding-right: 0;
    .popup-header{
        border-bottom:rem(1) solid $popup-head-border; 
        padding: rem(13) 0;
        .wrapper{
            padding:0 rem(20);
            @include align-prefix-suffix;
            .prefix{
                font-size: rem(15);
                line-height: rem(22);
                font-weight: 700;
                color:$popup-header;
            }
        }
    }
    .popup-content{
        padding: rem(20);
        padding-top: rem(50);
        .scroll-text-banner{
            height: rem(462);
            overflow-y: auto;
            font-size: rem(15);
            text-align: left;
        }
        &.auto-scorll{
            height: rem(500);
            overflow-y: auto;
        }
    }
    .popup-footer{
        padding-top:rem(107) ;
    }
}