.qna-accordion{
    .panel-heading{
        padding:rem(14) rem(20);
        background-color: transparent;
        font-size: rem(16);
        line-height: rem(22);
        font-weight: 700;
        border: 1px solid transparent;
        border-bottom: rem(1) solid $accordion-border;
        a{
            display: block;
        }
        .tag{
            margin-right: rem(14);
            float: left;
        }
    }
    .ask{
        padding:rem(14) rem(20);
        padding-bottom: rem(8);
        background-color: #f6f6f6;
        border-top: rem(1) solid transparent;
        .ask-title{
            font-size: rem(14);
            line-height: rem(22);
            color:#666666;
            font-weight: 700;
            .tag{
                margin-right: rem(14);
                float:left;
            }
        }
        .ask-content{
            padding-left: rem(55);
            font-size: rem(14);
            line-height: rem(22);
            color:#666666;
        }
    }
}