.radio-list{
    ul{
        display: flex;
        text-align: center;
        li{
            flex: 1 1 50%;
        }
    }
}

@media screen and(max-width:720px) {
    .radio-list{
        ul{
            flex-wrap: wrap;
            li{
                flex: none;
            }
        }
    }
}