.required{
    position: relative;
    display: inline-block;
    &:after{
        content: '*';
        color: $point-color1;
        position: absolute;
        left: rem(-10);
        top: 0;
    }
}