.row-list{
    display: flex;
    li{
        position: relative;
        padding:0 rem(10);
        &:nth-child(1){
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
            &:after{
                display: none;
            }
        }
        &:after{
            content: '';
            width: rem(1);
            height: rem(16);
            background-color: $row-list-border;
            position: absolute;
            right: 0;
            bottom: rem(1);
        }
    }
    &.short-after{
        &:after{
            height:rem(12) ;
        }
    }
}