.table{
    &.custom-table{
        margin-bottom: 0;
        tr{
            th,td{
                vertical-align: middle;
                border-top: rem(1) solid $accordion-border;
            }
            td{
                padding:rem(13) rem(20);
            }
            th{
                border-right:rem(1) solid $accordion-border;
                font-size: rem(14);
                line-height: rem(22);
                font-weight: 700;
                text-align: center;
            }
            &:last-child{
                td,th{
                    border-bottom:rem(1) solid $accordion-border;
                }
            }
        }
    }
}