.tag{
    display: inline-block;
    width: rem(25);
    height: rem(25);
    text-align: center;
    font-size: rem(14);
    line-height: rem(22);
    font-weight: 700;
    border-radius: 100%;
    &.black-type{
        background-color: $text-color1;
        color: $white;
    }
    &.pupple-type{
        background-color: #424c63;
        color: $white;
    }
    &.gray-type{
        background-color: #666666;
        color: $white;
    }
}