.text-banner{
  text-align: center;
  background-color: #f7fafa;
  font-size: rem(14);
  line-height: rem(22);
  font-weight: 700;
  padding: rem(33) 0;
  margin-left: rem(-20);
  margin-right: rem(-20);
  color: $text-color1;
  &.sucess{
    margin-top: rem(110);
    margin-bottom: rem(53);
  }
}