.time{
    position: relative;
    .timer{
        color: $point-color1;
        position: absolute;
        right: rem(11);
        top:rem(4);
        font-size: rem(12);
        line-height: rem(22);
    }
}