$point-color1:#f92465;
$point-color2:#38c9b2;
$point-color3:#2e5a73;
$company-info:#747f99;
$footer:#aaaaaa;
$popup-header:#293846;
$input-color:#8e9ab8;

$Grayscale-bg1:#f7fafa;
$Grayscale-bg2:#e9f0f0; 
$Grayscale-bg3:#dae6e6;
$grayscale-bg4:#c7d2d2;
$grayscale-bg5:#9facac;
$grayscale-bg6:#8c9f9f;
$login-bg:#ebf0f0;

$text-color1:#333333;
$text-color2:#555555;
$text-color3:#777777;
$text-color4:#949494;

$white:#ffffff;

$input-border:#8e9ab8;
$row-list-border:#8a93a8;
$popup-head-border:#d5e1e1;
$accordion-border:#e1e1e1;

$btn-login:#596175;
$btn-dark-blue:#334956;
