.warnning{
    position: relative;
    padding-left: rem(27);
    color:$point-color1;
    text-align: left;
    font-size: rem(12);
    line-height: rem(22);
    &:after{
        content: '';
        width: rem(12);
        height: rem(12);
        background-image: url(../images/ico_info_circle.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: rem(5);
        left: rem(5);
    }
}
.error{
    font-size: rem(12);
    line-height: rem(22);
    color: $point-color1;
    margin-top: rem(-2);
}